#
# This file is part of the AzerothCore Project. See AUTHORS file for Copyright information
#
# This file is free software; as a special exception the author gives
# unlimited permission to copy and/or distribute it, with or without
# modifications, as long as this notice is preserved.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# User has manually chosen to ignore the git-tests, so throw them a warning.
# This is done EACH compile so they can be alerted about the consequences.
#

########################################
# AoeLoot module configuration
########################################
#
#    AOELoot.Enable
#        Description: Enables Module
#        Default:     1 - (Enabled)
#                     0 - (Disabled)
#

AOELoot.Enable = 1

#
#    AOELoot.Message
#        Description: Enables area loot if the player is in a group
#        Default:     1 - (Enabled)
#                     0 - (Disabled)
#

AOELoot.Message = 1

#
#    AOELoot.Range
#       Description: Maximum reach range search loot.
#       Default:    55.0
#       Range:      5.0 - 100.0
#

AOELoot.Range = 55.0

#
#    AOELoot.Group
#        Description: Enables area loot if the player is in a group
#        Default:     1 - (Enabled)
#                     0 - (Disabled)
#

AOELoot.Group = 1
